body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Cor de fundo preta */
  color: #FFFFFF; /* Cor do texto branca para contraste */
}

.navbar {
  background-color: rgba(0, 0, 0, 0.85); /* Cor de fundo preta com 85% de opacidade */
  margin-bottom: 20px;
  border: 2px solid #17d09f; /* Borda neon */
  box-shadow: 0 0 10px #17d09f, 0 0 20px #17d09f, 0 0 30px #17d09f, 0 0 40px #17d09f; /* Efeito de luz neon */
}

.navbar .navbar-brand, .navbar .nav-link {
  color: #FFFFFF; /* Cor do texto branco */
}

.navbar .nav-link {
  margin-right: 15px;
}

.navbar .nav-link:hover {
  color: #FFD700; /* Cor do texto quando o mouse passa por cima (dourado) */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.1); /* Fundo levemente transparente */
  border: 1px solid #17d09f; /* Borda neon */
  box-shadow: 0 0 10px #17d09f, 0 0 20px #17d09f; /* Efeito de luz neon */
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  margin-top: 20px;
}

.card h2 {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.card input[type="file"] {
  margin-bottom: 20px;
}

.card button {
  background-color: #000000; /* Cor de fundo preta */
  border: 2px solid #17d09f; /* Borda neon */
  color: #17d09f; /* Cor do texto neon */
  padding: 10px 20px;
  border-radius: 50px; /* Deixar o botão redondo */
  cursor: pointer;
  box-shadow: 0 0 10px #17d09f, 0 0 20px #17d09f, 0 0 30px #17d09f, 0 0 40px #17d09f; /* Efeito de luz neon */
  transition: background-color 0.3s, color 0.3s;
}

.card button:hover {
  background-color: #17d09f; /* Cor ao passar o mouse */
  color: #000000; /* Cor do texto ao passar o mouse */
}
