body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #FFFFFF;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.85);
  margin-bottom: 20px;
  border: 2px solid #17d09f;
  box-shadow: 0 0 10px #17d09f, 0 0 20px #17d09f, 0 0 30px #17d09f, 0 0 40px #17d09f;
}

.navbar .navbar-brand, .navbar .nav-link {
  color: #FFFFFF; 
}

.navbar .nav-link {
  margin-right: 15px;
}

.navbar .nav-link:hover {
  color: #FFD700;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #17d09f;
  box-shadow: 0 0 10px #17d09f, 0 0 20px #17d09f;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  margin-top: 20px;
}

.card h2 {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.card input[type="file"] {
  margin-bottom: 20px;
}

.card button {
  background-color: #000000; 
  border: 2px solid #17d09f;
  color: #17d09f; 
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 0 10px #17d09f, 0 0 20px #17d09f, 0 0 30px #17d09f, 0 0 40px #17d09f;
  transition: background-color 0.3s, color 0.3s;
}

.card button:hover {
  background-color: #17d09f;
  color: #000000
}
