body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #FFFFFF;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
    padding: 10px 20px;
    border-bottom: 2px solid #17d09f;
    box-shadow: 0 0 10px #17d09f; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar .navbar-brand, .navbar .nav-link {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 15px;
}

.navbar .nav-link:hover {
    color: #FFD700;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 20px; 
}

.section {
    flex: 1;
    margin: 0 10px;
}

.section h2 {
    color: #17d09f;
    margin-bottom: 20px;
    text-align: center;
}

.card {
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid #17d09f; 
    box-shadow: 0 0 10px #17d09f; 
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizar os elementos horizontalmente */
    justify-content: center; /* Centralizar os elementos verticalmente */
}

.card input[type="file"], .card button {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
}

.card button {
    background-color: #000000; 
    border: 2px solid #17d09f; 
    color: #17d09f; 
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px #17d09f;
    transition: background-color 0.3s, color 0.3s;
}

.card button:hover {
    background-color: #17d09f;
    color: #000000;
}

.card img {
    max-width: 100%; 
    margin-top: 20px;
    border: 2px solid #17d09f;
    box-shadow: 0 0 5px #17d09f; 
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: flex; /* Alterado para flex */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #000000; 
    border: 2px solid #17d09f; 
    color: #17d09f; 
    padding: 20px 40px; /* Mantido o padding */
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px #17d09f; 
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px; 
}

.custom-file-upload:hover {
    background-color: #17d09f; 
    color: #000000; 
}


.file-name {
    margin-top: 10px;
    color: #FFFFFF;
}

.images-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images-list .image-card {
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid #17d09f; 
    box-shadow: 0 0 5px #17d09f; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.images-list img {
    width: 150px;
    height: auto;
    border: 2px solid #17d09f; 
    box-shadow: 0 0 5px #17d09f; 
    margin-bottom: 10px;
}

.images-list button {
    background-color: #000000;
    border: 2px solid #17d09f;
    color: #17d09f;
    padding: 10px 20px;
    border-radius: 50px; 
    cursor: pointer;
    box-shadow: 0 0 10px #17d09f; 
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px; 
}

.images-list button:hover {
    background-color: #17d09f; 
    color: #000000; 
}

@keyframes backgroundRemoval {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%; 
    max-width: 100%; 
    height: auto; /* Garantir que a imagem se ajuste ao contêiner */
    display: block;
    margin: 0 auto;
}

.loading-spinner {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #17d09f;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: auto; 
}

.removing-background {
    animation: backgroundRemoval 3s linear forwards;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
